<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="fluorite.preferences.Initializer">
      </initializer>
      <initializer
            class="dayton.InitializeConnection">
	</initializer>
   </extension>

   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fluorite.ui.handlers.AnnotateCommandHandler"
            description="Annotate current intention"
            id="fluorite.annotateCommand"
            name="Annotate">
      </command>
      <command
            description="View the last recorded log file in xml format"
            id="fluorite.actions.viewLastLog"
            name="View Last Log">
      </command>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="fluorite.actions.viewLastLog"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+V">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="fluorite.dialogs.OptionsPage"
            id="fluorite.optionsPage"
            name="Fluorite">
      </page>
   </extension>
   -->
  
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="fluorite.plugin.EHEventLoggerStartup">
      </startup>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      
      <view
            allowMultiple="false"
            category="fluorite.category"
            class="fluorite.viewpart.IDViewPart"
            id="EclipseHelper.idview"
            name="Eclipse Helper Current ID"
            restorable="true">
      </view>
       
      <category
            id="fluorite.category"
            name="EclipseHelper">
      </category>
      
      <view
            allowMultiple="false"
            category="fluorite.category"
            class="fluorite.viewpart.HelpViewPart"
            id="fluorite.helpview"
            name="EclipseHelperHelp"
            restorable="true">
      </view>
      <view
            category="fluorite.category"
            class="fluorite.viewpart.BuddyListViewPart"
            id="EclipseHelper.ChatsView"
            name="Buddy List"
            restorable="true">
      </view>
      <view
            category="fluorite.category"
            class="dayton.ContactsView"
            id="EclipseHelper.ContactsView"
            name="Contacts"
            restorable="true">
      </view>
   </extension>
  <!--
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="fluorite.toolbar1"
               label="Eclipse Helper Toolbar">
            <command
                  commandId="fluorite.annotateCommand"
                  icon="icons/annotation.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="fluorite.annotateCommand"
            icon="icons/annotation.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="fluorite.annotateCommand">
      </handler>
   </extension>
   -->
   
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="fluorite.recorders.EHCompilationParticipantRecorder"
            id="TestProject.compilationParticipantRecorder"
            modifiesEnvironment="true">
      </compilationParticipant>
   </extension>
 
</plugin>
